.App {
}
li.completed {
  text-decoration: line-through;
 
}
li.pending {
  text-decoration: solid;
}
li {
  cursor: pointer;
}
.llista {
  display: flex;
  flex-direction: row;
 
}
#llista{
  background-color: rgb(100, 194, 100);
  border-radius: 15px;
  padding: 30px;

}
header{
  background-color: green;
  padding: 10px;
 margin-bottom: 20px;

 
}
header h1{
  

 margin-top: 0;
}
.displayApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px

}