.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
li.completed {
  text-decoration: line-through;
}
li.pending {
  text-decoration: solid;
}
li {
  cursor: pointer;
}
.llista {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  min-width: 300px;
  font-family: "Courier New";

  font-size: 26px;
  margin: 10px;
  margin-left: 20px;
}
.listas {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 50px;
  max-height: 600px;
  min-height: 400px;
  max-width: 1500px;
}
#llista {
  outline: thick double;
  outline-color: rgb(100, 194, 100);
  outline-width: 1rem;
  background-color: rgb(164, 226, 164);
  border-radius: 15px;

  padding: 30px;
  min-width: 300px;
  overflow-x: auto;
  margin: 20px;
}
#llistaComplete {
  outline: thick double;
  outline-width: 1rem;
  outline-color: rgb(221, 84, 91);
  background-color: rgb(223, 142, 146);
  border-radius: 15px;

  padding: 30px;
  min-width: 300px;
  overflow-x: auto;
  margin: 20px;
}
header {
  background-color: rgb(100, 194, 100);

  padding: 20px;
  margin-bottom: 20px;
}
header h1 {
  margin-top: 0;
  font-family: Copperplate, fantasy;
  letter-spacing: 3px;
}
footer {
  display: flex;
  background-color: rgb(100, 194, 100);
  padding: 30px;

 
  bottom: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  font-family: "Courier New";
  font-size: 20px;
  font-weight: bold;
}

.displayApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.descripcionText {
  font-family: "Courier New";
  font-style: italic;
  font-size: 20px;
}
.checkbox {
  transform: scale(2);
}
.checkbox:hover {
  cursor: pointer;
  transform: scale(2);
}

.quitarTarea:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.quitarTarea {
  cursor: pointer;
  transform: scale(0.9);
}
ul h2 {
  margin-top: 0;
  font-family: Copperplate, fantasy;
  letter-spacing: 3px;
}
